/* Global variables */
:root{
    --background-color: #00040F;
    --background-image:radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */; 
}
/* End Global variables */
/* Start Global Rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #00040F;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media(min-width:768px){
    .container{
        width:750px;
    }
}
/* meduim */
@media(min-width:992px){
    .container{
        width:970px;
    }
}
/* large */
@media(min-width:1200px){
    .container{
        width:1170px;
    }
}
/* End Global Rules*/
/* Start header */
.header{
    padding:30px 30px 65px;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header img{
    width:114px;
}
.header .links{
    position: relative;
}
@media(max-width:700px){
    .header .links:hover ul{
        display: initial;
    }
    .header .links .icon{
        width:30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .header .links .icon span{
        height:3px;
        margin-bottom: 5px;
        background-color: rgb(255, 255, 255,80%);
        width: 100%;
    }
    .header .links .icon span:nth-child(1)
    {
        width:60%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    .header .links .icon:hover span:nth-child(1){
        width:100%;
    }
}
.header ul a {
    font-size: 16px;
    color: rgb(255, 255, 255,70%);
    text-decoration: none;
    padding-left:56px;
}
@media(max-width:700px){
.header ul{
    position: absolute;
    right: 0px;
    top:calc(100% + 20px);
    padding:0;
    margin: 0;
    min-width: 140px;
    display: none;
    z-index: 1;
    background-color: #dddddd17;
}
.header ul::before{
    content: "";
    border:10px solid ;
    position: absolute;
    top:-20px;
    right:0px;
    border-color: transparent transparent #dddddd17 ;
}
.header .links ul a {
    display: block;
    padding:10px;
}
}
.header .links a:first-of-type {
    color:white;
}
/* End header */
/* Start landing */
.landing .container{
    display: flex;
    position: relative;
}
@media(max-width:992px){
    .landing .container{
        flex-direction: column-reverse;
    }   
}
.landing .text{
    flex-basis: 69%;
}
.landing .text .header{
    margin-top: 122px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    width:fit-content;
    height: 40px;
    padding: 4px 18px 4px 10px;
    border-radius: 10px;
    background: linear-gradient(125.17deg, #272727 0%, #11101D 100%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}
.landing .text .header img{
    width: 32px;
    margin-right: 13px;
}
.landing .header p span{
    color: white;
}
.landing .info{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 5px 0;
}
.landing .info h2{
    line-height: 100.8px;
   font-size: 70px; 
   color: white;
   margin: 25px 0 40px;
}
.landing .info h2 span{
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.landing .info img{
    position: absolute;
    top:30px;
    right:13rem;
}
.landing .info p{
    font-size: 18px;
    color:rgba(255, 255, 255, 0.7);
    max-width: 483px;
    line-height: 30.6px;
    margin:0;

}
.landing .image{
    width:640px;
   height: 674px;
   position: absolute;
   top:0;
   left:58%;
}
/* small
@media(min-width:768px){
    .landing .image{
        left: 400px;
    }
}
 meduim 
@media(min-width:992px){
    .landing .image{
        left:580px;
    }
}5
 large 
@media(min-width:1200px){
    .landing .image{
        left:750px;
    }
} */
.landing .image img{
    width:100%;
    
}
/* End landing */